.spanBelowHeader {
  color: gray;
  flex: 1;
}

.avatar {
  border-radius: 50px;
  width: 75px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
